:root {
  --typography--white: #ffffff;
  --typography--light-gray: #f8f8f8;
  --typography--dark-gray: #6a6e72;
  --typography--black: #1e1e1e;
  --typography--ash: #e6e3dd;
  --typography--purple: #dda4f8;
  --typography--red_orange: #c24013;
  --typography--green: #157033;
  --brand--blue: #44b1ff;
  --brand--orange: #ff7647;
  --brand--light_orange: #ffd0ad;
  --brand--yellowish_orange: #f2efe9;
  --brand--light_green: #b9e9c5;
  --brand--bright_green: #65dc8d;
  --brand--purple: #e7c9f1;
  --brand--black: #1e1e1e;
  --main-font: 'LibreFrankli', sans-serif;

  --typography--white: #ffffff;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  border: none;
}

body {
  background-color: var(--brand--yellowish_orange);
  color: var(--typography--dark-gray);
  font-family: var(--main-font);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.16px;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

@font-face {
  font-family: 'LibreFrankli';
  src: url(../fonts/LibreFranklin-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'KitSans';
  src: url(../fonts/bf61ec490084b651-s.p.woff2);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFrankli';
  src: url(../fonts/LibreFranklin-SemiBold.woff2);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'LibreFrankli';
  src: url(../fonts/LibreFranklin-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}

.p {
  line-height: 1.5;
}

.d_block {
  display: block;
}

.section_spacing {
  padding-left: 1rem;
  padding-right: 1rem;
}
.section_gap_160 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.section_gap_128 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.section_gap_80 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section_gap_48 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section_gap_160_80 {
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.section_gap_top_64 {
  padding-top: 4rem;
}

.section_gap_bottom_80 {
  padding-bottom: 5rem;
}

.section_gap_bottom_160 {
  padding-bottom: 10rem;
}

.section_gap_top_128 {
  padding-top: 8rem;
}

.section_gap_bottom {
  padding-bottom: 5rem;
}

.highlighted_text {
  color: var(--typography--black);
  font-weight: 600;
}

.color_weight {
  color: var(--typography--black);
  font-weight: 600;
}

.text_kit_blue {
  color: var(--brand--blue);
}

.text_kit_green {
  color: var(--brand--bright_green);
}

.text_kit_orange {
  color: var(--brand--orange);
}

.text_kit_purple {
  color: var(--typography--purple);
}

.rounded_brand {
  border-radius: 1rem;
}

.rounded_lg {
  border-radius: 0.875rem;
}

.rounded_md {
  border-radius: 0.75rem;
}

.rounded_sm {
  border-radius: 0.5rem;
}

.rounded_Xs {
  border-radius: 0.125rem;
}

.max_w9 {
  max-width: 9ch;
}

.max_w12 {
  max-width: 12ch;
}

.max_w18 {
  max-width: 18ch;
}

.max_w32 {
  max-width: 32ch;
}

.max_w600 {
  max-width: 37.5rem;
}

.max_w320 {
  max-width: 20rem;
}

.max_w390 {
  max-width: 24.375rem;
}
.max_w500 {
  max-width: 31.25rem;
}

.max_w745 {
  max-width: 46.563rem;
}

.bullet_point {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.p_24 {
  padding: 1.5rem;
}

.p_32 {
  padding: 2rem;
}

.inner_py24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.inner_p80 {
  padding: 5rem;
}

.pb_16 {
  padding-bottom: 1rem;
}

.pb_32 {
  padding-bottom: 2rem;
}

.pb_40 {
  padding-bottom: 2.5rem;
}

.pt_160 {
  padding-top: 10rem;
}

.pb_160 {
  padding-bottom: 10rem;
}

.mt_4 {
  margin-top: 0.25rem;
}

.mr_8 {
  margin-right: 0.5rem;
}

.mr_16 {
  margin-right: 1rem;
}

.mb_12 {
  margin-bottom: 0.75rem;
}
.mb_16 {
  margin-bottom: 1rem;
}

.mb_24 {
  margin-bottom: 1.5rem;
}

.mb_32 {
  margin-bottom: 2rem;
}

.gap_1 {
  gap: 1rem;
}

.gap_2 {
  gap: 2rem;
}

.gap_3 {
  gap: 0.5rem;
}

.gap_4 {
  gap: 0.25rem;
}

.fw_600 {
  font-weight: 600;
}

.fw_700 {
  font-weight: 700;
}

.t_black {
  color: var(--typography--black);
}

.t_white {
  color: var(--typography--white);
}

.t_red_orange {
  color: var(--typography--red_orange);
}

.t_green {
  color: var(--typography--green);
}

.bg_black {
  background-color: var(--brand--black);
}

.bg_white {
  background-color: var(--typography--white);
}

.bg_orange {
  background-color: var(--brand--orange);
}

.bg_blue {
  background-color: var(--brand--blue);
}

.bg_light_orange {
  background-color: var(--brand--light_orange);
}

.bg_light_green {
  background-color: var(--brand--light_green);
}

.bg_purple {
  background-color: var(--brand--purple);
}
.bg_ash {
  background-color: var(--typography--ash);
}

.p_relative {
  position: relative;
}

.p_absulute {
  position: absolute;
}

.flex-d {
  flex-flow: column;
}

.text_center {
  text-align: center;
}

.text_left {
  text-align: left;
}

.T_capitalize {
  text-transform: capitalize;
}

a {
  color: inherit;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  color: var(--typography--black);
}

.heading_xl {
  font-family: 'KitSans';
  /* font-size: 5rem; */
  font-size: clamp(3rem, 8vw, 5rem);
  font-weight: 500;
  line-height: 0.95;
}

.heading_xxl {
  font-family: 'KitSans';
  /* font-size: 8rem; */
  font-size: clamp(3.5rem, 9vw, 8rem);
  font-weight: 500;
  line-height: 0.95;
}

.heading_lg {
  font-family: 'KitSans';
  /* font-size: 4rem; */
  font-size: clamp(2.5rem, 7vw, 4rem);
  font-weight: 500;
  line-height: 1;
}

.heading_md {
  font-family: 'KitSans';
  /* font-size: 3.5rem; */
  font-size: clamp(2.1rem, 6vw, 3.5rem);
  font-weight: 500;
  line-height: 1;
}

.heading_sm {
  font-family: 'KitSans';
  /* font-size: 3rem; */
  font-size: clamp(1.8rem, 4.5vw, 3rem);
  font-weight: 500;
  line-height: 1;
}

.heading_xs {
  font-family: 'KitSans';
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
}

.text_lg {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
}

.text_md {
  font-size: 1.125rem;
  line-height: 1.5;
}

.text_reg {
  font-size: 1rem;
  line-height: 1.5;
}

.text_sm {
  font-size: 0.875rem;
  line-height: 1.5;
}

.text_xs {
  font-size: 0.75rem;
}

/* nav_info_start */

.nav_info_area {
  display: block;
  background-color: var(--brand--blue);
  padding: 10px 16px;
  text-align: center;
  line-height: 1.5;
  position: relative;
  z-index: 9;
}

.nav_info_text {
  font-weight: 600;
  color: var(--typography--black);
}

.nav_arrow_icon {
  padding-left: 2px;
}

.mobile_menu_icon{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* nav_info_end */

/* navigation_section_start */

.section_nav_area {
  position: sticky;
  width: 100%;
  padding: 24px 0px;
  z-index: 1;
}

.navbar_wrapper {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.nav_brand {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 4rem;
}

.nav_menu_wrapper.active {
  display: block;
  top: 0%;
  transform: translateY(0%);
  visibility: visible;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.875rem;
  background-color: var(--typography--ash);
}

.nav_link {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.625rem 0.875rem;
  border-radius: 0.625rem;
}

.nav_link:hover {
  background-color: #cecbc6;
}

.mobile_menu {
  display: none;
}

.navbar_actions {
  display: flex;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.login {
  padding: 0.75rem 0.875rem;
  background-color: var(--typography--ash);
}

/* banner_section_start */

.banner_about_component {
  display: grid;
  gap: 2rem;
}

.banner_about_content_wrapper {
  display: flex;
  flex-flow: column;
  grid-gap: 1.25rem;
}

.button_primary {
  padding: 0.6rem 0.975rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.home_banner_title {
  max-width: 43ch;
}

.banner_button_group {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  flex-flow: column;
  align-items: flex-start;
  margin-top: 1.25rem;
  display: flex;
}

.banner_about_visul {
  max-width: 62.188rem;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-content: center;
  justify-content: center;
  position: relative;
  margin-top: -250px;
}

.top {
  padding-right: 5rem;
}

.left {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: subgrid;
  align-self: center;
}

.banner_visual_card_img_wrapper {
  position: relative;
}

.card_inner_content_wrap {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 1.25rem;
  padding-left: 1rem;
  display: flex;
  flex-flow: column;
  grid-row-gap: 0.5rem;
}

/* banner_section_end */

/* business_purpose_section_start */

.business_purpose_header_content {
  display: grid;
  grid-row-gap: 4rem;
  grid-template: repeat(2, 1fr) / repeat(6, 1fr);
}

.business_purpose_header_title {
  grid-area: 1 / 1 / 2 / 6;
}

.business_purpose_header_text_wrap {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 1rem;
  grid-area: 2 / 4 / 3 / 7;
}
.section_gap_top_128 {
  overflow: hidden;
}
.business_purpose_marquee {
  display: flex;
  animation: bannermove 20s linear infinite;
}


.marquee_scroller_wrapper {
  display: flex;
  grid-column-gap: 3.25rem;
  overflow: hidden;
  width: 100%;
}

.marquee_scroller_card {
  max-width: 11.688rem;
  display: grid;
  grid-gap: 1rem;
  flex-shrink: 0;
}

@keyframes bannermove {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* business_purpose_section_end*/

/* grow_section_start */

.subtitle_badge {
  text-transform: uppercase;
  padding: 0.375rem 0.625rem;
  font-size: 0.875rem;
  font-weight: 700;
  display: inline-block;
}

.grow_section_header {
  display: flex;
  justify-content: space-between;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  flex-flow: wrap;
}

.grow_section_header_left {
  flex-shrink: 0;
}

.grow_section_header_right {
  max-width: 37.5rem;
  display: flex;
  flex-flow: column;
  grid-row-gap: 0.75rem;
  align-items: flex-start;
}

.grow_section_component {
  display: flex;
  flex-flow: column;
  grid-row-gap: 4rem;
}

.grow_card_wrapper {
  display: flex;
  justify-content: space-between;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.grow_card_left {
  max-width: 18.5rem;
  display: flex;
  flex-flow: column;
}

.grow_card_left_wrap {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  max-width: 37.5rem;
}

.grow_card_right_wrap {
  position: relative;
  max-width: 37.5rem;
}

.grow_card_right {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  padding: 2rem 2rem 0rem 2rem;
}

/* .grow_card_right_img{
  max-width: 536px;
} */

.tool_tip {
  position: absolute;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--brand--black);
  right: 1rem;
  bottom: 1rem;
}

/* grow_section_end */

/* counting_section_start */

.grid_card_list_item .cc_orange {
  background-image: url(../images/icon/grow_counting/checkbox_orange.svg);
  width: 1.5rem;
  height: 1.5rem;
}
.grid_card_list_item .cc_green {
  background-image: url(../images/icon/selling_counting/checkedbox_green-6.svg);
  width: 1.5rem;
  height: 1.5rem;
}
.grid_card_list_item .cc_purple {
  background-image: url(../images/icon/earn_counting/checkedbox_purple.svg);
  width: 1.5rem;
  height: 1.5rem;
}

.counter_wrapper_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.counter_wrapper_grid_card {
  display: flex;
  flex-flow: column;
}

.first_col {
  grid-area: 1 / 1 / 3 / 2;
}

.last_col {
  grid-area: 1 / 3 / 3 / 4;
}

.grid_card_list_item {
  display: flex;
  align-items: center;
}

.grid_card_list {
  display: flex;
  flex-flow: column;
}

/* counting_section_end */

/* textimonial_section_start */

.testimonial_component {
  text-align: center;
}

.testimonial_slider_author_info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial_author_img {
  width: 4rem;
}

/* textimonial_section_end */

/* email_section_start */

.section_email_component {
  display: flex;
  flex-flow: column;
  grid-row-gap: 5rem;
  text-align: center;
}

.section_email_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(309px, 100%), 1fr));
}

.section_email_single_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section_email_header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
}

.email_single_item_inner_content {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

/* email_section_end */

/* integrations_section_start  */

.section_integration_component {
  display: flex;
  flex-flow: column;
  grid-row-gap: 5rem;
}

.integration_section_header {
  display: flex;
  justify-content: space-between;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  flex-flow: wrap;
}

.integration_section_header_right {
  max-width: 37.5rem;
  display: flex;
  flex-flow: column;
  grid-row-gap: 2.5rem;
  align-items: flex-start;
}

.section_integration_grid_single_item {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.integration_single_item_inner_content {
  display: flex;
  flex-flow: column;
}

.section_integration_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(308px, 100%), 1fr));
}

/* integrations_section_end */

/* Customer_Experiences_section_start */

.Customer_Experiences_component {
  display: flex;
  align-items: flex-start;
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
}

/* Customer_Experiences_section_end */

/* cta_section_start */

.section_cta_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

/* cta_section_end */

/* moving_section_start */

.section_kit_moving_component {
  display: flex;
  flex-flow: column;
  grid-row-gap: 4rem;
}
.section_moving_img {
  margin-bottom: -48px;
  position: relative;
  margin-left: -28px;
}

.kit_moving_perawrap {
  max-width: 38rem;
  align-self: flex-end;
}

/* moving_section_end */

/* footer_section_start */

.footer_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  /* flex-wrap: wrap; */
}

.footer_link_wrap {
  display: flex;
  flex-flow: column;
  grid-row-gap: 0.5rem;
}

.footer_menu_wrapper {
  display: grid;
  width: 100%;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 2.5rem;
}

.footer_about {
  width: 24.688rem;
  padding-bottom: 3rem;
}

.footer_social_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer_bottom_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

.privacy_policy {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-area: 2 / 2 / 3 / 3;
}

.copy_right_text {
  grid-area: 2 / 1 / 3 / 2;
}

/* footer_section_end */
